/* HOME PAGE */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#nav,
#header {
  background-color: rgb(50, 50, 201);
}

h5 {
  color: rgb(79, 135, 255);
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

#nav {
  padding: 0 3%;
}

#nav img {
  transition: transform 0.2s;
  max-width: 100%;
}

#nav img:hover {
  transform: rotateX(180deg);
}

.navbar-toggler:hover {
  animation: rotate 0.7s ease infinite;
}

#header {
  color: white;
  text-align: center;
  padding: 5% 10% 0;
}

#header h1 {
  margin-bottom: 5%;
}

#header p {
  color: rgba(231, 216, 216, 0.7);
  margin-bottom: 10%;
}

#header img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#features {
  padding: 15% 5%;
  text-align: center;
}

#features h1 {
  margin-top: 4%;
  margin-bottom: 2%;
}

#features img {
  background-color: rgba(79, 135, 255, 0.5);
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s;
  transform: scale(3);
}

#features img:hover {
  background-color: whitesmoke;
  transform: scale(2);
}

#features a {
  text-decoration: none;
  color: rgb(79, 135, 255);
}

#features a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#about-us {
  padding: 15% 5%;
  background-color: aliceblue;
}

.container {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 5% 0;
}

#about-us h5 {
  background-color: rgb(50, 50, 201);
  padding: 3%;
  width: 30%;
  margin: auto;
  color: white;
}

#about-us h1 {
  margin: 5% 5% 0;
}

#about-us p {
  text-align: justify;
  padding: 5% 10% 0;
  color: rgba(0, 0, 0, 0.5);
}

#about-us button {
  margin: 5% 0 10%;
}

#about-us a {
  text-decoration: none;
}

#about-us a:hover {
  color: white;
}

#about-us img {
  max-width: 100%;
}

#pricing {
  padding: 15% 5%;
  text-align: center;
}

#pricing h3 {
  color: rgb(50, 50, 201);
}

#pricing h3 {
  margin-top: 2%;
}

#pricing h1 {
  margin-top: 4%;
  margin-bottom: 2%;
}

#pricing button {
  margin: 5% 25% 0;
}

#pricing ul {
  margin: 5% 0;
}

#pricing li {
  line-height: 2.5;
  color: rgba(0, 0, 0, 0.7);
}

.card {
  padding: 5%;
  margin: auto;
  margin-top: 10%;
}

.card-popular {
  background-color: aliceblue;
}

.popular {
  background-color: white;
  padding: 3%;
  margin: 0 20% 5%;
  border-radius: 5px;
  transition: transform 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.popular:hover {
  transform: scale(1.2);
}

#faq {
  background-color: aliceblue;
  padding: 15% 5%;
  text-align: center;
}

#faq h1 {
  margin-top: 4%;
  margin-bottom: 2%;
}

#faq p {
  margin-bottom: 5%;
}

.faq {
  margin: auto;
  width: 50%;
  border-radius: 2px;
  margin-top: 5%;
  background-color: white;
}

.card-body {
  margin-bottom: 10%;
  text-align: justify;
}

.collapse {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  border-top: none;
}

#faq button {
  color: black;
  margin: auto;
  width: 100%;
  padding: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#faq button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.fa-arrow-down {
  margin: auto;
  margin-right: 2%;
}

#testimonials {
  padding: 15% 5%;
  text-align: center;
}

#testimonials h1 {
  margin-top: 4%;
  margin-bottom: 2%;
}

#testimonials img {
  max-width: 100%;
  width: 40%;
  padding: 3%;
}

.stars {
  display: block;
  margin-bottom: 20px;
}

.info {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials .card {
  box-shadow: 0 0 5px 5px aliceblue;
}

.card > p,
sub {
  color: rgba(0, 0, 0, 0.7);
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.fa-star {
  color: gold;
}

.clients {
  margin-top: 10%;
}

#team {
  padding: 15% 5%;
  text-align: center;
  background-color: aliceblue;
}

#team h1 {
  margin-top: 4%;
  margin-bottom: 2%;
}

#team img {
  max-width: 100%;
}

.details h5 {
  color: black;
}

.details h6 {
  color: rgba(0, 0, 0, 0.5);
}

.details {
  margin-top: 3%;
}

.socials {
  padding-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin: auto;
}

.socials > a {
  text-decoration: none;
  color: black;
  padding: 10%;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #c13584;
}

.fa-linkedin-in:hover {
  color: #0a66c2;
}

#contact-us {
  padding: 15% 5%;
  text-align: center;
  background: linear-gradient(180deg, white 50%, aliceblue 50%);
}

#contact-us h1 {
  margin: 0 0 4%;
}

#contact-us h5 {
  margin-top: 3%;
  margin-bottom: 5%;
}

.contact {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-align {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.form {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#contact-us label,
button {
  margin: 3% 0;
}

#contact-us input,
textarea {
  display: block;
  margin: auto;
  width: 100%;
}

#contact-us button {
  margin-top: 5%;
}

#footer {
  padding: 15% 5% 3%;
  text-align: center;
  background-color: #041424;
  color: white;
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer a:hover {
  color: #1da1f2;
}

#footer img {
  max-width: 100%;
  width: 40%;
  padding: 3%;
}

#footer li {
  line-height: 2;
}

#footer h5 {
  color: white;
  margin-top: 10%;
}

@media screen and (max-width: 480px) {
  #about-us h5 {
    width: 50%;
    margin: auto;
  }

  #about-us img {
    padding: 0 5%;
  }

  .faq {
    width: 100%;
  }
}

@media (min-width: 240px) and (max-width: 1024px) {
  .card {
    width: 80%;
  }
  #contact-us .card {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  #contact-us .form {
    width: 70%;
    margin-top: 5%;
  }
}

@media screen and (min-width: 768px) {
  #about-us img {
    padding: 5% 0;
  }
}

@media screen and (min-width: 1024px) {
  #testimonials .card {
    width: 70%;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(45deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/* SIGN IN-UP PAGE */

#header-sign {
  padding: 5% 0 10%;
  text-align: center;
  background-color: rgb(50, 50, 201);
  color: white;
}

#form-sign {
  padding: 0 5% 10%;
  text-align: center;
}

#form-sign img {
  max-width: 100%;
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
}

#form-sign input {
  margin-bottom: 5%;
}

#form-sign .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#form-sign a {
  text-decoration: none;
}

#form-sign .fb {
  background-color: #3b5998;
  border-radius: 5px;
}

#form-sign .tw {
  background-color: #1da1f2;
  margin: 0 3%;
  border-radius: 5px;
}

#form-sign .google {
  background-color: #ea4335;
  border-radius: 5px;
}

#form-sign button > a {
  color: white;
}

#form-sign p {
  color: rgba(0, 0, 0, 0.7);
}

#form-sign .card {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
